 a
{
	color: #DD4F24;
}

body
{
	background: #EFEFEC;
	color: #4C4C4C;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: justify;
	margin 0;
}

header
{
	background-image:url(back.png);
	background-repeat: no-repeat;
	color: #F7F7F7;
	padding: 1em;
	text-align: left;
	max-width: 100%;
}

header #logo, header h1,header #logosbanner
{
	display: inline-block;
	vertical-align: top;

}

header #logo img{
	width: 120px;
	margin: 0;
}
header #logosbanner img{
	width: 350px;
	margin: 0;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 10px;
}


header h1
{
	font-size: 2.5em;
	font-weight: 200;
	color: white;
	text-shadow: 5px 5px 5px #4C4C4C;
	text-decoration: none;
	margin: 1em 0 0.5em 0.5em;
	width: 40%;
}

footer
{
	  	background: #434343;
        bottom: 0;
        color: #A7A7A7;
        height: 60px;
        left: 0;
        padding: 1em 1em;
        text-align: center;
        width: 100%;
}

}

footer p
{
	margin: 0;
}



nav
{
	background: #DA252A;
	color: white;
	font-size: 0.9em;
	opacity: 0.9;
	border-bottom: 4px #22BCE0 solid;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0.5em;
}

nav ul li
{
	display: inline-block;
	vertical-align: top;
	margin: 0 5em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em 0;
}

body #contenido .item .titulo_item a {
	text-decoration: none;
	font-size: 3.5em;
	font-weight: 100;
	color: #22BCE0;
	
}




body #contenido .item {
	padding-bottom: 10em;
	padding-left: 0.5em;
	
}


