html, body {
  margin: 0;
  padding: 0;
  max-width: 100%; }


 a
{
	color: #DD4F24;
}

body
{
	background-image:url(../images/graphy.png);
	background-repeat: repeat;
	background-color: red;

	color: #4C4C4C;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: justify;
	margin 0;
}

header
{
	background-color: rgba(2,3,3,0.2);
	color: #F7F7F7;
	padding: 1em;
	text-align: left;
	max-width: 100%;
}

header #logo, header h1, header #googlelogo
{
	display: inline-block;
	vertical-align: top;

}

header #googlelogo img{
	width: 100px;
	margin-top: 55px;
	margin-left: -5px;
	border-radius: 2px;
}


header #logo img{
	width: 120px;
	margin: 0;

}


#contenido .item #gdglogo img{
	width: 100px;
	margin: 0;
	margin-top: 10px;
	margin-right: 5em;
	background-color:  rgba(248,248,255,0.7);
	border-radius: 100px;
	padding: 10px;

	
}

#contenido .item #gsalogo img{
	width: 70px;
	margin: 0;
	margin-top: 1px;
	padding: 10px;
	margin-right: 5em;
	background-color: rgba(248,248,255,0.7);
	border-radius: 20px;	
	margin-right: 0;
}



#contenido .item #gbglogo img{
	width: 100px;
	margin: 0;
	padding: 10px;
	margin-top: 10px;
	margin-right: 4em;
	background-color: rgba(248,248,255,0.7);
	border-radius: 15px;


}


#contenido .item .logos {
background: white;
}


#contenido .item #gsalogo, #contenido .item #gdglogo, #contenido .item #gbglogo{
	display: inline-block;
	vertical-align: top;
}





header h1
{
	font-size: 3em;
	
	color: white;
	text-shadow: 5px 5px 5px #4C4C4C;
	text-decoration: none;
	margin: 0.5em 0 0.5em 0.5em;
	width: 60%;


}

footer
{
	  	background: #434343;
        bottom: 0;
        color: #A7A7A7;
        height: 60px;
        left: 0;
        padding: 1em 1em;
        text-align: center;
        width: 100%;
}

}

footer p
{
	margin: 0;
}



nav
{
	background: #DA252A;
	color: white;
	font-size: 0.9em;
	opacity: 0.9;
	border-bottom: 4px #4C4C4C  solid;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0.5em;
}

nav ul li
{
	display: inline-block;
	vertical-align: top;
	margin: 0 2em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em 0;
}

body #contenido .item .titulo_item a {
	text-decoration: none;
	font-size: 3.5em;
	font-weight: 100;
	color: #22BCE0;
	padding: 0;
	margin: 0;
}


body #contenido .item .titulo_item  {
	width: auto;%;
	padding: 0;
	margin: 0;
	
}

body #contenido .item .parrafo {
	
	color: white;
	width: 100%;
	
}

body #contenido .item {
	margin-right: 1em;
	margin-left: 1em;
}

body #contenido {
	
   border-radius: 10px;
   background-color: rgba(0,0,0,0.8);
   width: 100%;
   height: 100%;
   padding-bottom: 0;
   margin-top: 2em;
   margin-bottom: 9em;
}


body .contenido2 {
	
   border-radius: 10px;
   background-color: rgba(0,0,0,0.6);
   width: 100%;
   height: 100%;
   margin-bottom: 2em;
   margin-top: 2em; 
}


body .contenido2 .item .parrafo {
	
	color: white;
	width: 100%;
	
}

body .contenido2 .item .titulo_item a {
	text-decoration: none;
	font-size: 3.5em;
	font-weight: 100;
	color: #22BCE0;
	
}

body .contenido2 .item {
	padding-bottom: 0em;
	padding-left: 0.5em;
	
}

.contenido2 .item #expositor1 img{
	width: 120px;
	margin: 0;
	margin-top: 10px;
	padding: 10px;
	margin-right: 5em;
	border-radius: 120px;
}

.contenido2 .item #expositor2 img{
	width: 120px;
	height: 120px;
	margin: 0;
	margin-top: 2px;
	padding: 15px;
	margin-right: 5em;
	border-radius: 120px;
}

.contenido2 .item #expositor1 figcaption,.contenido2 .item #expositor2 figcaption{
	color: white;
	font-size: 1em;
	padding-left: 1.5em;
	
}

	



.contenido2 .item #expositor1,.contenido2 .item #expositor2 {
	display: inline-block;
	vertical-align: top;

}


body #contenido .item {
	padding-bottom: 0em;
	padding-left: 0.5em;
	
}


.fullScreen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-attachment: fixed; 
}


.slider_container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #000; }
  .slider_container .slideContainer {
    white-space: nowrap;
    height: 100%; }
    .slider_container .slideContainer .slide {
      display: inline-block;
      background-image: url(../images/GoogleIO2013.jpg);
      margin-right: -4px;
      vertical-align: top;
      background-size: 100%;
      background-position: bottom; }

.boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border: 1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b1c99a;
	padding:10px;
	margin-top: 5px;	
	float: right;
	margin-right: 10px;

}
.boton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.boton:active {
	position:relative;
	top:1px;
}


